*
{
	margin:px;
	padding:px;
	
}

body{
	background: #A3E4D7;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.container{
	background: white;
	
	padding: 3rem 3rem;
	border-radius: 10%;
	text-align: justify;
}